.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.header .title{
    text-align: center;
}

.informations{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.informations p{
    margin: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
}
.informations p::before{
    display: inline-block;
    content: '';
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
}
.informations .job::before{
    background-image: url(/src/img/icons/job.svg);
}
.informations .location::before{
    background-image: url(/src/img/icons/location.svg);
}
.informations .email::before{
    background-image: url(/src/img/icons/email.svg);
}
.informations .phone::before{
    background-image: url(/src/img/icons/phone.svg);
}